@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #3B3291;
}

body{
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;
    position: absolute;
    width: 100%;
    z-index: 100;
}


header h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

header nav {
    display: flex;
    gap: 30px;
}
header nav a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: white;
}
header nav a.link-nav.active {
    background: #36c87a;
    background-position: center;
}
header nav a.link-nav:hover {
    background: #36c87a;
    background-position: center;
}
header nav:hover > a.link-nav:not(:hover) {
    background: none;
}

.home {
    display: flex;
    height: 100vh;
    background: linear-gradient(to top, #f5b002 30%, #d45a5a);
    position: relative;
    overflow: hidden;
}

.home img {
    position: absolute;
    bottom: 0;
    width: 100%;
    pointer-events: none;
}

.home .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(211, 120, 34);
    font-size: 80px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.sobre {
    display: flex;
    height: 150vh;
    background: #3B3291;
    position: relative;
    overflow: visible;
}


.sobre .divsobretitulo {
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: 5px solid #36c87a;
    border-radius: 99px;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sobre .divsobreconteudo{
    align-self: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 5%;
    margin-bottom: 5%;
    position: absolute;
    top: 20%;
}

.sobre .divsobreconteudo h2{
    font-style: italic;
    color: #36c87a;
}


.peticoes{
    display: flex;
    height: 100vh;
    background: linear-gradient(to bottom, #3B3291 10%, #d45a5a 70%);
    position: relative;
    overflow: visible;
    margin-top: 150px;
}

.peticoes .divpeticoestitulo{
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border: 5px solid #36c87a;
    border-radius: 99px;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 49%;
    transform: translate(-50%, -50%);
}
/* aqui tem o livro de peticoes*/
.book {
    margin-top: 300px;
    margin-left: 110px;
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: rgb(213, 211, 207);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .book:hover .cover{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-95deg);
    -ms-transform: rotatey(-95deg);
    transform: rotatey(-95deg);
    cursor: pointer;
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
    padding: 8px;
  }
