@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #000000 10%, #040404 70%);
}

body{
    height: 100vh;
    text-align: center;
    padding: 0;
}
h1{
    color: white;
    align-self: center;
    margin-top: 70px;
    margin-left: 30%;
    position: fixed;
}
h2{
    color: white;
    align-self: center;
    margin-top: 120px;
    margin-left: 33%;
    position: fixed;
}

h4{
    color: #464646;
    margin-top: 160px;
    position: fixed;
    margin-left: 36%;
}

button{
    width: 450px;
    align-self: center;
    position: fixed;
    padding: 10px;
    margin: auto;
    top: 28%;
    right: 35%;
    border: 5px solid #36c87a;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    
}

img{
    width: 350px;
    margin-top: 300px;
}